@page "/clients-list"
@inherits ClientsListCompnentBase
@inject IToastService toastService
@using ProduceDeliveryApp.Domain.Enums;
<h2>Users Data</h2>
<p>This component demonstrates fetching Employee data from the server.</p>
<p>
    <a href="/addemployee">Create New</a>
</p>
@if (ClientList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class='table table-hover'>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in ClientList)
            {
                <tr>
                    <td>@emp.FirstName</td>
                    <td>@emp.LastName</td>
                    <td>@emp.PhoneNumber</td>
                    <td>@emp.Email</td>
                    <td>@Enum.GetName(typeof(RoleType), emp.RoleId)</td>
                    <td>
                        <a href='/editemployee/@emp.Id'>Edit</a>  |
                        <a href='/delete/@emp.Id'>Delete</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
}

